body {
    font-family: Arial;
    margin: 0px;
}

.container {
    max-width: 90%;
    margin: auto;
}

.topo {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/*Classe dos menus*/
#menus {
    display: none; /*Escondenco os menus por padrão*/
}

/* Propriedades dos links do menu*/
.topo a {
    color: #FFF;
    padding: 14px 16px; /* Espaçamento distancia entre links dos menus horizontale vertical */
    text-decoration: none;
    font-size: 17px;
    display: block; /* Quebrando as linhas dos links dos menus*/
}

/* Propriedades ao passar o mouse sobre o menu*/
#menus a:hover {
    background-color: #DDD;
    color: #000;
}

/* Classe do botão de menu*/
.btnMenu {
    background-color: #000;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    color: #FFF;
    padding: 13px 16px;
}

/*Definindo link do menu que será ativo*/
.ativo {
    background-color: #45a;
    color: #fff;
}